<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 122px auto 32px;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }

  a:link
{
 text-decoration:none;
}

</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>GCON - Plataforma de Gestão do Conhecimento e Acesso a Informação</span>
    <div class="spacer"></div>
    <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Twitter">
      <svg id="twitter-logo" height="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
        <rect width="400" height="400" fill="none"/>
        <path d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23" fill="#fff"/>
      </svg>
    </a>
</div>


<div class="content" role="main">

  <div class="card">
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-3">
          <a href="http://localhost:4200/cadastro">
          <p-card header="Denúncia" [style]="{'margin-bottom': '2em', 'background-color':'DarkRed', 'color': 'white'}">
            <p>Comunique um ato ilícito praticado contra a entidade</p>
          </p-card>
          </a>
          </div>
        <div class="p-field p-col-12 p-md-3">
          <a href="#">
          <p-card header="Elogio" [style]="{'margin-bottom': '2em', 'background-color':'MediumVioletRed', 'color': 'white'}">
            <p>Expresse que você está satisfeito com o atendimento</p>
          </p-card>
          </a>
        </div>
        <div class="p-field p-col-12 p-md-3">
          <a href="#">
          <p-card header="Reclamação" [style]="{'margin-bottom': '2em', 'background-color':'Sienna', 'color': 'white'}">
            <p>Manifeste sua insatisfação com o atendimento ou serviço</p>
          </p-card>
          </a>
          </div>
    </div>
  </div>

  <div class="card">
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-3">
          <a href="#">
          <p-card header="Crítica" [style]="{'margin-bottom': '2em', 'background-color':'Salmon', 'color': 'white'}">
            <p>Manifeste uma crítica com o atendimento ou serviço</p>
          </p-card>
          </a>
          </div>
        <div class="p-field p-col-12 p-md-3">
          <a href="#">
          <p-card header="Solicitação" [style]="{'margin-bottom': '2em', 'background-color':'MediumSeaGreen', 'color': 'white'}">
            <p>Peça um atendimento ou prestação de serviço a entidade</p>
          </p-card>
          </a>
        </div>
        <div class="p-field p-col-12 p-md-3">
          <a href="#">
          <p-card header="Sugestão" [style]="{'margin-bottom': '2em', 'background-color':'DeepSkyBlue', 'color': 'white'}">
            <p>Envie uma idéia ou proposta de melhoria dos serviços</p>
          </p-card>
          </a>
          </div>
    </div>
  </div>
</div>


