<ngx-ui-loader text="Processando..."></ngx-ui-loader>   
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="220"  height="80" alt="Angular Logo"
  src="assets/image/logo_gcon2.jpg" />
  <span>Plataforma de Gestão e Conhecimento</span>
  <div class="spacer"></div>
</div>
<br><br>
<div class="content" role="main">
  <p-toast position="top-center" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
      <div class="p-flex p-flex-column" style="flex: 1"> 
        <div class="p-text-center">
          <p>{{message.detail}}</p>
        </div>
      </div>
    </ng-template>
  </p-toast>
  <form #f="ngForm" disa autocomplete="off" (ngSubmit)="concluir()">
    <div class="linha">
      <p-divider></p-divider>
      <div>Resposta do Recurso</div>
      <p-divider></p-divider>
    </div>
    <div class="p-fluid p-formgrid" [hidden]="!campos">
    <p-panel>
      <ng-template pTemplate="header">
        <span>Protocolo nº:&nbsp;<b>{{protocolo}}</b></span>
      </ng-template>
      <div class="p-field p-col-12">
        <label>
          <b>Resultado do Recurso * </b>
        </label>
        <p-dropdown inputId="resultado" [options]="resultadosRecurso" name="resultado" 
        [(ngModel)]="resultado" [required]="true"
        placeholder="Selecione a opção">
      </p-dropdown>
        </div>
  
      <div class="p-field p-col-12">
          <label><b>Despacho de Resposta *</b></label>
          <p-editor [(ngModel)]="modelo"
           name="modelo"
           required
           [style]="{'height':'250px'}"></p-editor>
        </div>

        <div class="p-field p-col-12">
          <p-fileUpload name="anexo" [auto]="true"

          invalidFileSizeMessageDetail="O tamanho máximo permitido de arquivos é de 10"
           [customUpload]="true" chooseLabel="Selecione o arquivo"  (uploadHandler)="carregaArquivo($event)"
          [multiple]="true" accept="image/*,application/*" [maxFileSize]="5000000">
          <ng-template pTemplate="content">
              <ul *ngIf="uploadedFiles.length">
                  <li  *ngFor="let file of uploadedFiles">{{file.name}}</li>
              </ul>
          </ng-template>
        </p-fileUpload>
      </div>        

        <ng-template pTemplate="footer">
          <div class="p-grid p-nogutter">
            <button pButton label="Enviar" type="submit" [disabled]="f.invalid"  iconPos="left"></button>
          </div>
        </ng-template>
      </p-panel>
      </div>
      <div class="p-fluid p-formgrid p-grid" [hidden]="campos">
        <div class="p-col-12 p-lg-6">
          <span><b>{{mensagem}}</b></span>
        </div>
      </div>
    </form>
